--- 
layout: default 
title: Archive 
---

<article class="page container">
    <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <div class="page-content">
        <p>Archived blog posts.</p>
    </div>
</article>

<section class="post-list">
    <div class="container">
        {% for post in site.archived_posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
            <h2 class="category-title">{{ currentdate }}</h2>
            {% assign date = currentdate %} 
        {% endif %}
        <article class="post-item">
            <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
            <div class="article-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </div>
        </article>
        {% endfor %}
    </div>
</section>