/**
* Syntax highlighting styles
*/
.highlight {
  margin: $base-spacing 0;
  padding: 0;
  color: #ffffff;

  .highlighter-rouge &, &, .hll, pre, code {
    background-color: lighten($light-gray-color, 15%) !important;
  }

  table td {
    padding: 5px;
  }
  table pre {
    margin: 0;
  }

  pre {
    margin: 0;
    padding: $base-spacing;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    margin-bottom: 0;
    word-break: inherit;
    word-wrap: inherit;
    border: none;

    &, code {
      color: #fff;
    }

    code {
      white-space: pre;
      padding: 0 !important;

      * {
        white-space: nowrap; // this sets all children inside to nowrap
      }
    }
  }

  .c     { color: #75715e; font-style: italic } // Comment
  .cd    { color: #75715e; }
  .err   { color: #960050; background-color: #e3d2d2 } // Error
  .k     { color: #f92672; font-weight: bold } // Keyword
  .o     { color: #f92672; font-weight: bold } // Operator
  .cm    { color: #75715e; font-style: italic } // Comment.Multiline
  .cp    { color: #f92672; font-weight: bold } // Comment.Preproc
  .c1    { color: #75715e; font-style: italic } // Comment.Single
  .cs    { color: #75715e; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #49483e; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #49483e; background-color: #faa } // Generic.Deleted.Specific
  .ge    { color: #49483e; font-style: italic } // Generic.Emph
  .gr    { color: #960050 } // Generic.Error
  .gh    { color: #999999 } // Generic.Heading
  .gi    { color: #49483e; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #49483e; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888888 } // Generic.Output
  .gp    { color: #555555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #960050 } // Generic.Traceback
  .kc    { color: #66d9ef; font-weight: bold } // Keyword.Constant
  .kd    { color: #66d9ef; font-weight: bold } // Keyword.Declaration
  .kn    { color: #f92672 }
  .kp    { color: #f92672; font-weight: bold } // Keyword.Pseudo
  .kr    { color: #66d9ef; font-weight: bold } // Keyword.Reserved
  .kt    { color: #66d9ef; font-weight: bold } // Keyword.Type
  .kv    { color: #f92672 }
  .m     { color: #ae81ff } // Literal.Number
  .s     { color: #e6db74 } // Literal.String
  .n     { color: #ae81ff }
  .na    { color: #a6e22e } // Name.Attribute
  .nb    { color: #f6aa11 } // Name.Builtin
  .nc    { color: #a6e22e; font-weight: bold } // Name.Class
  .nd    { color: #a6e22e }
  .no    { color: #66d9ef } // Name.Constant
  .ni    { color: $white-color } // Name.Entity
  .ne    { color: #a6e22e; font-weight: bold } // Name.Exception
  .nf    { color: #a6e22e; font-weight: bold } // Name.Function
  .nn    { color: $white-color } // Name.Namespace
  .nl    { color: #66d9ef }
  .nt    { color: #f92672 } // Name.Tag
  .nv    { color: $white-color } // Name.Variable
  .nx    { color: $white-color }
  .ow    { color: #f92672; font-weight: bold } // Operator.Word
  .w     { color: $white-color } // Text.Whitespace
  .mb    { color: #ae81ff }
  .mf    { color: #ae81ff } // Literal.Number.Float
  .mh    { color: #ae81ff } // Literal.Number.Hex
  .mi    { color: #ae81ff } // Literal.Number.Integer
  .mo    { color: #ae81ff } // Literal.Number.Oct
  .mx    { color: #ae81ff }
  .sb    { color: #e6db74 } // Literal.String.Backtick
  .sc    { color: #ae81ff } // Literal.String.Char
  .sd    { color: #e6db74 } // Literal.String.Doc
  .s2    { color: #e6db74 } // Literal.String.Double
  .se    { color: #ae81ff } // Literal.String.Escape
  .sh    { color: #e6db74 } // Literal.String.Heredoc
  .si    { color: #e6db74 } // Literal.String.Interpol
  .sx    { color: #e6db74 } // Literal.String.Other
  .sr    { color: #f6aa11 } // Literal.String.Regex
  .s1    { color: #e6db74 } // Literal.String.Single
  .ss    { color: #ae81ff } // Literal.String.Symbol
  .bp    { color: #ffffff } // Name.Builtin.Pseudo
  .vc    { color: #ffffff } // Name.Variable.Class
  .vg    { color: #ffffff } // Name.Variable.Global
  .vi    { color: #ffffff } // Name.Variable.Instance
  .il    { color: #ae81ff } // Literal.Number.Integer.Long
  .p     { color: $white-color }
  .py    { color: $white-color }
}