---
layout: default
---

<article class="project container">
	<header class="page-header">
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • <b>Category:<b> {{page.category}} • <b>Tools/Languages:</b> {{page.tech}}{% endif %}</p>
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	</header>
	
	<div class="project-content">
		{{ content }}
		{% include related_blogs.html %}
	</div>
</article>
